{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Features section -->
<!-- The features part was inspired by: https://easy-eater.herokuapp.com/ -->
<section class="container px-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="my-3 pink-text text-center">About Us</h2>
            </div>
        </div>
        <hr>
        <div class="row mb-sm-5">
            <div class="col-12">
                <p class="mt-3 my-md-3 text-center lead">
                    We are a small local tennis club which is welcoming and open to new tennis members. We appreciate
                    that it can often be difficult to find someone to practice or play matches with, so we have
                    developed this app which will hopefully make it easier for you to find
                    your ideal tennis partner, or opponent. You can also book a court up to a week in advance to avoid
                    disappointment.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid feature-image-outer">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fa-solid fa-magnifying-glass fa-5x"></i>
                </div>
                <div>
                    <h3 class="feature-title">Find Your Ideal Tennis Buddy</h3>
                    <p class="feature-text lead">
                        When you register with us and create your profile, you are welcome to search our players'
                        catalouge for an ideal partner/opponent. You can look at their level, preferences, availability
                        and more.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fa-solid fa-calendar fa-5x"></i>
                </div>
                <h3 class="feature-title">Book a Court</h3>
                <p class="feature-text lead">
                    To avoid coming to a busy club with occupied tennis courts, make a reservation beforehand and play
                    when it suits you best.
                </p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fa-regular fa-message fa-5x"></i>
                </div>
                <h3 class="feature-title">Get in Touch</h3>
                <p class="feature-text lead">
                    Please feel free to get in touch with us, should you have any questions or queries. We will be happy
                    to get to know you and see you on the courts.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- <div class="section" id="about">
    <h1 class="title text-center m-5">About Us</h1>
    <div class="container">
        <div class="containter d-flex features mb-5">
            <div class="row text-center">
                <div class="col-xs-6 col-md-4">
                    <img src="{% static '/images/tennis_court.jpg' %}" class="mb-3 w-100" alt="Logo">
                </div>
                <div class="col-xs-12 col-md-8 text-right">
                    <h2 class="sub-title">Welcome to Tennis Buddies</h2>
                    <p class="mt-3 text-justify">fhjslkfjslkdfjsijfosijfoisefjsijcxdkjvclxdkjvlksjdflsjfijsoedjfo</p>
                </div>
            </div>
        </div>
        <div class="containter d-flex features mb-5">
            <div class="row text-center">
                <div class="col-xs-12 col-md-8 text-left">
                    <h2 class="sub-title">Welcome to Tennis Buddies</h2>
                     <hr> -->
<!-- <p class="mt-3 text-justify">fhjslkfjslkdfjsijfosijfoisefjsijcxdkjvclxdkjvlksjdflsjfijsoedjfo</p>
                </div>
                <div class="col-xs-6 col-md-4">
                    <img src="{% static '/images/tennis_court.jpg' %}" class="mb-3 w-100" alt="Logo">
                </div>
            </div>
        </div>
        <div class="containter d-flex features mb-5">
            <div class="row text-center">
                <div class="col-xs-6 col-md-4">
                    <img src="{% static '/images/tennis_court.jpg' %}" class="mb-3 w-100" alt="Logo">
                </div>
                <div class="col-xs-12 col-md-8 text-right">
                    <h2 class="sub-title">Welcome to Tennis Buddies</h2> -->
<!-- <hr> -->
<!-- <p class="mt-3 text-justify">fhjslkfjslkdfjsijfosijfoisefjsijcxdkjvclxdkjvlksjdflsjfijsoedjfo</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}