{% extends "base.html" %}

{% block title %}Contact Details{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Add Your Contact Details</h1>
        <p class="text-center">In order to access this functionality, you need to add your contact details first</p>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Add Contact Details</button>
            <a href="{% url 'home' %}" class="btn btn-primary w-30 mt-2"
                aria-label="Let's the user not fill in contact details. Takes user back to home page">Maybe
                Later</a>
        </div>
    </form>
</div>
{% endblock %}