{% extends "base.html" %}
<!-- {% load static %} -->

{% block title %}Contact Detail - {{user.user_profile.username}}{% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="contact-info mt-3 p-3">
        <div class="contact-detail mx-auto">
            <h1 class="text-center">{{ user.user_profile.first_name}} {{ user.user_profile.last_name}}</h1>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p><strong>First Name: </strong>{{ user.user_profile.first_name }} </p>
                </li>
                <li class="list-group-item">
                    <p><strong>Last Name: </strong>{{ user.user_profile.last_name }}</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Phone: </strong>{{ user.user_profile.phone }}</p>
                </li>
            </ul>
            <!-- should here be a condition to check if the logged in user is the same one as the booking owner? -->
            <div class="text-center">
                <a href="{% url 'edit-profile' user.user_profile.id %}" class="btn btn-primary w-30 mt-3">Edit</a>
                <a href="{% url 'delete-profile' user.user_profile.id %}" class="btn btn-primary w-30 mt-3">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}