{% extends "base.html" %}

{% block title %}Contact Details{% endblock %}

{% block content %}
<div class="container mx-auto">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Edit Your Contact Details</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        {% if request.user == profile.user %}
        <button id="myBtn" type="submit" class="btn btn-primary w-30">Edit</button>
        {% endif %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Save</button>
            <a href="{{ profile_detail_url }}" class="btn btn-primary w-30 mt-2"
                alt="Let's the user cancel editing. Takes user back to their Contact info">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}