{% extends 'base.html' %}

{% block title %}Delete Profile {{ object.user }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-2">Confirm Profile Deletion</h1>
    <div class="d-flex justify-center p-2">
        <form method="POST" class="text-center mx-auto">
            {%  csrf_token %}
            <p>Are you sure you want to delete "{{ object.user.user_profile }}"?</p>
            <button type="submit" class="btn btn-primary w-30 mt-2">Confirm</button>
            <a href="{{ profile_detail_url }}" class="btn btn-primary w-30 mt-2"
                aria-label="Let's the user cancel deleting. Takes user back to their Contact info">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}