html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #c3c30e;
}

a {
    text-decoration: none;
}

/* Header */
li.nav-item.dropdown {
    list-style: none;
}

.d-flex {
    align-items: baseline;
}

.profile-icon-ul {
    padding: 0;
}

.header-right {
    flex-direction: column;
}

/* Carousel */
.carousel-image {
    height: 400px;
    object-fit: cover;
}

a.nav-link.login-button.btn.btn-outline-success.me-2 {
    text-align: left;
}

/* Messages */
.alert_success_mine {
    background-color: #c3c30e;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1rem;
}

.alert_info_mine {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1rem;
}

.alert_warning_mine {
    background-color: #eb8838;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1rem;
}

.alert_danger_mine {
    background-color: #cf5b5b;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1rem;
}

/* Main */
main {
    flex: 1 0 auto;
    padding-top: 1rem;
}

img.logo {
    width: 60px;
    height: auto;
}

.active {
    font-weight: 700;
}

.feature-image {
    text-align: center;
}

.feature-title {
    font-family: serif;
    font-size: 30px;
    color: black;
    padding-top: 10px;
    text-align: center;
}

.feature-text {
    text-align: center;
    font-size: 1.2rem;
}

/* Carousel */
.carousel-image {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* position: relative; */
}

/* https://www.w3schools.com/howto/howto_css_overlay.asp */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: whitesmoke;
    /* margin-bottom: 10px; */
}

.carousel-text {
    font-weight: 400;
}

/* Forms */
.form {
    width: 80%;
    margin: 3% auto;
    border-radius: 10px;
}

ul.list-group.list-group-flush {
    border-radius: 5px;
}

.contact-form {
    width: 80%;
}

/* Home */
a.fontawesome-link {
    color: black;
}

/* Buddies */
.card {
    height: 90%;
    /* margin-top: 1rem; */
}

.buddies {
    text-decoration: none;
}

.buddies:hover {
    cursor: pointer;
}

.buddy-image {
    border-radius: 5px;
    object-fit: cover;
    height: 300px;
}

/* Buddy Details */
.buddy-detail-picture {
    border-radius: 5px;
}

.card {
    height: 90%;
    margin-top: 1.5rem
}

.buddy-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buddy-picture {
    width: 100%;
    height: auto;
}

/* Booking */
.calendar-link {
    text-decoration: none;
}

.calendar-link:hover {
    cursor: pointer;
}

.bookings {
    text-decoration: none;
}

.bookings:hover {
    cursor: pointer;
}


/* Booking List View */

.table-sm>:not(caption)>*>* {
    padding: 0.3rem 0.3rem;
}

.table {
    font-size: small;
}

/* Booking Calendar */
.date-picker {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    line-height: 2;
}

.table-container {
    margin: 15px;
    padding: 10px;
}

.even {
    background-color: #e9e981;
}

/* Contact Us */
.map-image {
    border-radius: 5px;
}


/* Footer  */
/* https://www.youtube.com/watch?v=E9eWdZTpiGA - so the footer stays at the bottom*/
footer {
    flex-shrink: 0;
}

.social-icon {
    height: 2rem;
}

/* Social icons > a */
a.me-4.link-secondary {
    text-decoration: none;
}

/* Navigation links in Footer */
a.text-reset {
    text-decoration: none;
}


/* Small screen devices (576px and above) */
@media only screen and (min-width: 576px) {

    .table-sm>:not(caption)>*>* {
        padding: 0.5rem 0.5rem;
    }

    .table {
        font-size: medium;
    }

    form {
        width: 70%;/
    }

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

    .table-sm>:not(caption)>*>* {
        padding: 0.75rem 0.75rem;
    }


    /* .buddy-details {
        flex-direction: row;
    }

    .profile-picture {
        width: 40%;
        margin: 0 auto;
    }

    .buddy-details {
        width: 60%;
        padding: 1rem;
    } */

    .form {
        width: 60%;
    }
}

/* Big screen devices (992px and above) */
@media only screen and (min-width: 992px) {
    .table-sm>:not(caption)>*>* {
        padding: 1rem 1rem;
    }

    .profile-icon-ul {
        padding: 0 0 0 32px;
    }

    .header-right {
        flex-direction: row;
    }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {}