html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #c3c30e;
    /* font-family: ; */
}

/* Header */
li.nav-item.dropdown {
    list-style: none;
}

.d-flex {
    align-items: baseline;
}

/* Carousel */
.carousel-image {
    height: 400px;
    object-fit: cover;
}


/* Main */
main {
    flex: 1 0 auto;
}


img.logo {
    width: 60px;
    height: auto;
}

.active {
    font-weight: 600;
}

.feature-image {
    text-align: center;
}

.feature-title {
    font-family: serif;
    font-size: 30px;
    color: black;
    padding-top: 10px;
    text-align: center;
}

.feature-text {
    text-align: center;
    font-size: 1.2rem;
}

/* Forms */
.form {
    width: 80%;
    margin: 3% auto;
    border-radius: 10px;
}


/* Buddies */
.card {
    height: 90%;
    /* margin-top: 1rem; */
}

.buddies {
    text-decoration: none;
}

.buddies:hover {
    cursor: pointer;
}

.buddy-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buddy-picture {
    width: 100%;
    height: auto;
}

/* Footer  */
/* https://www.youtube.com/watch?v=E9eWdZTpiGA - so the footer stays at the bottom*/
footer {
    flex-shrink: 0;
}

.social-icon {
    height: 2rem;
}

/* Social icons > a */
a.me-4.link-secondary {
    text-decoration: none;
}

/* Navigation links in Footer */
a.text-reset {
    text-decoration: none;
}


/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {

    /* .form {
        width: 70%;
    } */


/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {
    .buddy-details {
        flex-direction: row;
    }

    .profile-picture {
        width: 40%;
        margin: 0 auto;
    }

    .buddy-details {
        width: 60%;
        padding: 1rem;
    }

    .form {
        width: 60%;
    }
} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {
    form {
        width: 40%;
    }
} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {
    ...
} */