{% extends 'base.html' %}

{% block title %}Delete Booking #{{ booking.id }} by {{ object.user }} {% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="text-center mt-2">Confirm Booking Deletion</h1>
    <div class="d-flex justify-center p-2">
        <form method="POST" class="text-center mx-auto">
            {%  csrf_token %}
            <p>Are you sure you want to delete booking #"{{ booking.id }}"?</p>
            <button type="submit" class="btn btn-primary w-30 mt-2">Confirm</button>
            {% if request.user.is_superuser %}
            <a href="{% url 'list-bookings' all_or_own='all' %}" class="btn btn-primary w-30 mt-2"
                alt="Go to all bookings">Cancel</a>
            {% else %}
            <a href="{% url 'list-bookings' all_or_own='own' %}" class="btn btn-primary w-30 mt-2"
                alt="Let's the user cancel editing. Takes user back to their bookings">Cancel</a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}