{% extends 'base.html' %}

{% block title %}Bookings{% endblock %}


{% block content %}
<h1 class="text-center p-2">Latest Bookings</h1>
{% if bookings %}
<div class="container container-table d-flex flex-row flex-wrap justify-content-center mb-5">
    <!-- This structure was inspired by: https://www.youtube.com/watch?v=gXGQmt_U9Ao&t=65s -->
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm d-flex d-wrap">
                    <tr>
                        <th>Owner</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Court</th>
                        <th>Opponents</th>
                    </tr>

                    {% for booking in bookings %}

                    <tr>
                        <td>{{ booking.owner }}</td>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.time }}</td>
                        <td>{{ booking.court }}</td>
                        <!-- The for loop concatenates the opponents -->
                        <!-- https://www.reddit.com/r/django/comments/13p2uuz/is_there_a_way_to_if_not_forlooplast/ -->
                        <td>
                            {% for opponent in booking.opponents.all %}
                            {{ opponent }}
                            {% if not forloop.last %},
                            {% endif %}
                            {% endfor %}
                        </td>
                        <!-- Either the booking owner or a superuser can delete a booking -->
                        <!-- https://stackoverflow.com/questions/65421561/how-can-i-check-if-an-user-is-superuser-in-django -->
                        {% if booking.owner == request.user.user_profile or request.user.is_superuser %}
                        <td><a href="{% url 'edit-booking' booking.id %}" class="btn btn-primary w-30 me-2"></a>Update
                        </td>
                        <td><a href="{% url 'delete-booking' booking.id %}" class="btn btn-danger w-30 me-2"></a>Delete
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% else%}
<p class="text-center">No bookings found.</p>
{% endif %}
{% endblock %}