{% extends 'base.html' %}

{% block title %}Bookings{% endblock %}


{% block content %}
<h1 class="text-center p-2">Latest Bookings</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    <!-- This structure was inspired by: https://www.youtube.com/watch?v=gXGQmt_U9Ao&t=65s -->
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Owner</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Court</th>
                        <th>Opponents</th>
                    </tr>

                    {% for booking in bookings %}

                    <tr>
                        <td>{{ booking.owner }}</td>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.time }}</td>
                        <td>{{ booking.court }}</td>
                        <td>{{ booking.opponents }}</td>
                        <td><a href="{% url 'edit-booking' booking.id %}" class="btn btn-primary w-30"></a>Update</td>
                        <td><a href="{% url 'delete-booking' booking.id %}" class="btn btn-primary w-30"></a>Delete</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}