{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Make a Reservation{% endblock %}

{% block content %}

<!-- Add a date picker to the form -->
<!-- https://docs.djangoproject.com/en/4.2/ref/templates/builtins/#now -->
<form method="get" class="date-picker" action="{% url 'calendar' %}">
    <input type="date" name="date"
        value="{% if request.GET.date %}{{ request.GET.date }}{% else %}{% now 'Y-m-d' %}{% endif %}">
    <button type="submit" class="btn btn-primary w-30">Submit</button>
</form>

{% render_table table %}

{% endblock %}