{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- https://ordinarycoders.com/blog/article/build-a-django-contact-form-with-email-backend -->
<!-- Contact Form -->
<div class="container text-center mb-5">
    <div class="row">
        <div class="col-12">
            <h2 class="my-3 pink-text text-center">Get in touch with us</h2>
        </div>
        <div class="col-12 col-md-8 d-flex justify-content-center mx-auto mt-3 mb-3">
            <div class="contact-form">
                <div class="form-heading">
                </div>
                <!-- Form -->
                <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-30">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- https://www.youtube.com/watch?v=w4ilq6Zk-08&list=PLCC34OHNcOtrZnQI6ZLvGPUWfQ6oh-D6H&index=7&t=2s -->
    <div class="row">
        <div class="col-12">
            <h2 class="my-3 pink-text text-center">Find us on the map</h2>
        </div>
        <div class="col-8 d-flex justify-content-center mx-auto mt-3 mb-3">
            <iframe title="Nebusice Club Map" class="map-image"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1688.0820910044097!2d14.333473332028912!3d50.11148527998126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470bbfedd98717bb%3A0x4f3d333035a5bfbe!2sTenis%20Nebu%C5%A1ice!5e0!3m2!1sen!2sie!4v1686656631103!5m2!1sen!2sie"
                width="600" height="450" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}