{% extends "base.html" %}
{% load static %}

{% block title %}Add Buddy Profile{% endblock %}

{% block content %}

<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Your Profile</h1>
        <p>When you fill in your buddy profile, other players will be able to find your preferences
            including your email address, so you can get in touch and plan your next game.</p>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-30 mt-2">Create Profile</button>
            <a href="{% url 'home' %}" class="btn btn-primary w-30 mt-2"
                aria-label="Let's the user not fill in profile details. Takes user back to home page">Maybe
                Later</a>
        </div>
    </form>
</div>

{% endblock %}