{% extends "base.html" %}
{% load static %}

{% block title%}Find Your Perfect Tennis Buddy{% endblock %}

{% block content %}
<div class="container d-flex flex-row flex-wrap justify-content-center mb-3">
    <div class="col-12">
        <h2 class="my-3 pink-text text-center">Tennis Buddies</h2>
    </div>
    {% if buddies %}
    {% for buddy in buddies %}
    <a href="{% url 'buddy-detail' buddy.id %}" class="buddies"
        aria-label="Click to view {{buddy.user_profile.first_name}}">
        <div class="card m-2 buddy-card">
            <!-- If there is no picture, add a placeholder one -->
            {% if "placeholder" in buddy.profile_picture.url %}
            <img src="{% static 'icons/no-photo-icon.png' %}" class="card-img-top buddy-image"
                alt="Image not found, placeholder picture">
            {% else %}
            <img src="{{ buddy.profile_picture.url }}" class="card-img-top buddy-image"
                alt="{{buddy.picture_description}}">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{buddy.user_profile.first_name}} {{buddy.user_profile.last_name}}</h2>
                <p class="card-text">{{buddy.about_me|truncatechars:50}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
    {% else%}
    <p class="text-center">No buddies found.</p>
    {% endif %}
</div>
{% endblock %}