{% extends "base.html" %}

{% block title%}Find Your Perfect Tennis Buddy{% endblock %}

{% block content %}
<h1 class="text-center p-2">Tennis Buddies</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% for buddy in buddies %}
    <a href="{% url 'buddy-detail' buddy.id %}" class="buddies"
        aria-label="Click to view {{buddy.user_profile.first_name}}">
        <div class="card m-2" style="width: 18rem;">
            <img src="{{ buddy.profile_picture.url }}" class="card-img-top" alt="{{buddy.picture_description}}">
            <div class="card-body">
                <h2 class="card-title">{{buddy.user_profile.first_name}} {{buddy.user_profile.last_name}}</h2>
                <p class="card-text">{{buddy.about_me|truncatechars:100}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}