{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Edit Your Profile</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-30 mt-2">Save</button>
            <a href="{% url 'buddy-detail' pk=buddy.pk %}" class="btn btn-primary w-30 mt-2"
                aria-label="Let's the user cancel editing. Takes user back to their Buddy profile">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}